<h1>Editing Task</h1>

<div class="row">
  <div class="col s12">
    <div id="new-task-container">
      <%= render 'form' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <%= link_to 'Back', tasks_path, class: 'btn waves-effect grey lighten-1' %>
  </div>
</div>